@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600;700;800&display=swap');

/* General */

.group{
  display: flex;
  justify-content: center;
}

.full-width-image{
  width: 60%;
}

.space-between{
  justify-content: space-between;
}

.ten-margin-top{
  margin-top: 10px;
}

.force-row{
  display: flex;
  flex-direction: row;
}

.set-width{
  width:100px;
}

.center{
  text-align: center;
}

body{
  background-color: #0E0E11;
}

h2, p{
  font-weight: 300;
  font-family: 'Darker Grotesque', sans-serif;;
  color: #eee;
}

p{
  font-size: 18px;
}

main{
  max-width: 800px;
  margin: auto;
  position: absolute;
  top:142px;
  bottom:140px; 
  left:0px; 
  right:0px;
  overflow:auto;
  text-align: center;
}


.active-button{
  position: relative;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  outline: none;
  border: none;
}

.active-button:active{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
}

.button-unlit{
  padding: 15px;
  background-color: #33343A;
  border-radius: 5px;
  border: 0px;
  color: #0E0E11;
  font-weight: 700;
  font-family: 'Darker Grotesque', sans-serif;;
  font-size: 24px;
}

.button-lit{
  padding: 15px;
  background-color: #5BC7D3;
  border: 0px;
  color: #0E0E11;
  font-weight: 700;
  font-family: 'Darker Grotesque', sans-serif;;
  font-size: 24px;
  border-radius: 5px;
}

.error-content p{
  color: rgb(155, 30, 30);
  background-color: #0E0E11;
  font-weight: 500px;
  font-size: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  align-self: center;
  margin-top: 60px;
}

/* General End */

/* Header */

header{
  background-color: #0E0E11;
  border-bottom: 1px solid #33343A;
  overflow:hidden;
  position:absolute;
  bottom:0px; height:120px; left:0px; right:0px;
  padding-top: 40px;
  text-align: center;
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
}

/* Header End */

/* Initial View */

.no-bookmarks{
  left:0; 
  right:0;
  top:0; 
  bottom:0;
  margin:auto;
  margin-top: 15vh;
}

/* Initial View End */

/* List View */
.bookmarks-list{
  list-style: none;
  display: inline;
}

.list-item{
  border-bottom: 1px solid #33343A;
  display: flex;
  flex-direction: column;
}

.stars{
  margin-left: auto;
  padding:15px;
}

.collapsible-button{
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #0E0E11;
  outline: none;
  border: none;
  color: #eee;
  font-weight: 300px;
  font-family: 'Darker Grotesque', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color 0.3s;

}

.collapsible-content{
  
  display: flex;
  text-align: left;
  overflow: hidden;
  padding: 0 40px;
  transition: 0.3s;
  flex-direction: column;
}

.delete-button{
  outline: none;
  border: none;
  color: rgb(155, 30, 30);
  background-color: #0E0E11;
  font-weight: 500px;
  font-size: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  align-self: center;
  padding: 15px;
  margin: 20px;
}

#visit-button{
  margin: 20px;
}

/* List View End */

/* Create View */

.create-item-box{
  font-weight: 300;
  font-family: 'Darker Grotesque', sans-serif;

  display: flex;
  flex-direction: column;
  border: 1px solid #33343A;
  margin: auto;
  margin-top: 45px;
  padding-bottom: 28px;
  max-width: 300px;
}

textarea {
  resize: none;
  background-color: #0E0E11;
  width: 250px;
  height: 180px;
  color: #eee;
  font-weight: 300;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px; 
}

input{
  width: 250px;
  background-color: #0E0E11;
  color: #eee;
  font-weight: 300;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
}

label {
  float: left;
  display: block;
  font-size: 20px;
  color: #eee;
  margin-left: 22px;
}

#bottom-create{
  margin: 20px;
  margin-bottom: 0px;
}

/* Create View End */

/* Footer */
footer{
  background-color: #0E0E11;
  overflow:visible;
  position:absolute;
  bottom:0px; height:120px; left:0px; right:0px;
}

.navbar {
  border-top: 1px solid #33343A;
  background-color: #111113;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  transition: 0.3s;
  flex-shrink: 3;
  flex-wrap: nowrap; 
}

.nav-button{
  padding: 15px;
  background-color: Transparent;
  border: 0px;
  max-width: 100%;
}

.nav-button img{
  width: 100%;
}

.dropup {
  position: relative;
  display: inline-block; 
  text-align: center;
}

.filter-button{
  padding: 15px;
  background-color: Transparent;
  border: 0px;
  flex-shrink: 3;
}

.filter-button p{
  color: #77B1B7;
  padding-top: 2px;
  font-size: 24px;
  margin: 0 0 0 10px;
  white-space: nowrap;
}

.dropup-content{
  position: absolute;
  bottom: 121px;
  background-color: #111113;
  min-width: 235px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Footer End */

/* Scroll Bar */

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111113;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303035;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
/* Scroll Bar End */

*:focus {
  outline: none;
}

.focus-visible:focus {
  outline: #CB7519 solid 2px;
}